<%- include('../partials/admin_top') -%>
<section id="order">
  
  <!-- Order details -->
  <div id="order-details">
    <table>
      <tr>
        <td class="bold">Order ID:</td>
                <td><%= order._id %> </td>
              </tr>
              <tr>
                <td class="bold">Order Date:</td>
                <td><%= order.createdAt.toDateString() %> </td>
              </tr>
            </table>
          </div>

          <!-- Client details -->
          <div id="client-details">
            <table>
              <tr>
                <td class="bold">Name:</td>
                <td><%= order.user.name %> </td>
              </tr>
              <tr>
                <td class="bold">Email:</td>
                <td><%= order.user.email %> </td>
              </tr>
            </table>
          </div>

          <!-- Order items -->
          <div id="order-items">
            <table>
              <thead>
                <tr>
                  <th id="left">Product</th>
                  <th>Qty</th>
                  <th>Price</th>
                  <th>Total</th>
                </tr>
              </thead>
              
              <tbody>
                <% order.orderItems.forEach(item => { %>
                    <tr>
                      <td class="left"><%= item.product.name %></td>
                      <td><%= item.quantity %></td>
                      <td>$<%= item.product.price %></td>
                      <td>$<%= item.product.price * item.quantity %></td>
                    </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          
          <!-- Total -->
          <div id="total">
            <span>
              <strong>Total Price:</strong>
              <span id="price">$<%= order.totalPrice %> </span>
            </span>
          </div>
          
          <div id="complete">
            
            <% if (order.isComplete === false) { %>
              <!-- Mark order as complete -->
              <form method="POST" action="/orders/<%= order._id %>?_method=PUT ">
                <button>Mark as Complete</button>
              </form>
            <% } else { %>
              <!-- Item has been delivered -->
              <button id="delivered" disabled>Delivered</button>
            <% } %> 
          </div>
        </section>

  <%- include('../partials/admin_bottom') -%>