<%- include('../partials/layout_top') -%>

      <section id="about">

        <% if (products.length > 0) { %>
            <h1>More about our products</h1>
    
            <div id="product-list">
              <% products.forEach(product => { %>
                  <div class="product-info">
                    <div class="col1">
                      <img src="/images/<%= product.image %>" loading="lazy" alt="" />
                    </div>
                    <div class="col2">
                      <span><%= product.name %></span>
                      <p><%= product.description %></p>
                    </div>
                  </div>
              <% }) %> 
            </div>
        <% } else { %>
            <span>No products available</span>
        <% } %>  
      </section>
      
<%- include('../partials/layout_bottom') -%>