<%- include('../partials/layout_top') -%>
     
     <section id="products">

       <!-- Show this message if products are not available -->
       <% if (products.length <= 0) {%>
          <span id="no-products">No Products available</span>
       <% } %>  

       <!-- Show available products -->
       <% products.forEach(product => { %>
          <div class="product">
            <img src="/images/<%= product.image %>" loading="lazy" alt="" />
            <h3 class="product-name"><%= product.name %></h3>
            <p class="product-price">Price: <span class="value">$<%= product.price %></span></p>
  
            <p class="product-price">Min Order: <span class="value"><%= product.minimumOrder %></span></p>
  
            <p class="product-price">In Stock: <span class="value"><%= product.countInStock %></span></p>

            <% if(loggedIn) { %>

               <% const inCart = false %> 

               <% let itemsInCart = [] %> 

               <% items.forEach( item => { %>
                  <% itemsInCart.push(String(item.product._id)) %> 
               <% }) %> 

               
               <% if(itemsInCart.includes(String(product._id))) { %>
                  <form method="POST" action="/cart?_method=DELETE">
                     <input type="text" name="product" value="<%= product._id %>" >
                     <input type="text" name="url" value="/" >
                     <button type="submit" class="remove-from-cart">Remove from cart</button>
                  </form>
               <% } else { %>
                  <form method="POST" action="/cart">
                     <input type="text" name="product" value="<%= product._id %>" >
                     <input type="number" name="quantity" value="<%= product.minimumOrder %>" >
                     <button type="submit" class="product-button">Add to cart</button>
                  </form>
               <% } %> 

               
            <% } %>
          </div>
       <% }) %> 

      </section>

      <%- include('../partials/layout_bottom') -%>