<%- include('../partials/layout_top') -%>
<section id="order-wrapper">
  <div class="container">
  
    <!-- Table -->
    <table>
      <caption>Orders</caption>
      
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Date</th>
          <th>Price</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% orders.forEach((order) => { %>
          <tr>
            <td><%= order._id %></td>
            <td><%= order.createdAt.toDateString() %></td>
            <td>$<%= order.totalPrice %> </td>
            <td><% if (order.isComplete) { %>Shipped<% } else { %>Processing<% } %></td>
            <td class="actions">
              <!-- Payment url -->
              <a href="#">Pay</a>
              
              <!-- View order -->
              <a href="#">View</a>
              
              <!-- Cancel order button -->
              <form>
                <button>Cancel Order</button>
              </form>
            </td>
          </tr>       
        <% }) %>
      </tbody>
    </table>
  </div>
</section>
      
<%- include('../partials/layout_bottom') -%>
