<%- include('../partials/layout_top') -%>

<section id="pay">
    <div id="info">
        <span><strong>Bitcoin address: </strong><span id="address" class="ml mr"><%= data.address %></span></span>
        <span><strong>Bitcoin Amount: </strong><span id="amount" class="ml mr"><%= data.amount %></span>USD &#8776; <span id="amount" class="mr"><%= data.btcAmount %></span>BTC</span>
        
    </div>

    <img src="<%= data.qrCodeImg %>">


    <p>Click the button below <strong>only after you have sent the funds</strong>.</p>

    <form method="POST" action="/orders/paid/<%= data.order %>?_method=PUT">
        <button>Confirm Payment</button>
    </form>
    
</section>   

<%- include('../partials/layout_bottom') -%>
